# ---------------- ENV ----------------
.env

# ---------------- PYTHON ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- VENV ----------------
venv/
env/

# ---------------- DATABASE ----------------
*.db
instance/

# ---------------- LOGS ----------------
*.log

# ---------------- VS CODE ----------------
.vscode/

# ---------------- OS FILES ----------------
.DS_Store
Thumbs.db